.Notif{
    background-color: rgba(244, 241, 241, 0.5);
    display: flex;
}

li {
    font-size: 14px;
}
.notif_box{
    width: 35%;
    height: 400px;
    margin-left: 0%;
    background-color: rgb(224 231 230 / 50%);
    border: 2px solid #eae4e4;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content-main{
    z-index: 1;
    background-color: white;
    width: 49%;
    height: 400px;
    border: 2px solid #eae4e4;

}
.content-main__title {
    height: 20px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    justify-content: center;
    align-items: center;
    color: rgb(240, 241, 243);
    background-color: rgb(118 141 119 / 33%);
}
.content-main__title span {
    margin-left: 35%;    
}
.notif_box__title{
    height: 20px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(240, 241, 243);
    background-color: rgb(118 141 119 / 33%);
}
.about{
    z-index: 1;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 15%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border: 2px solid #eae4e4;
}
.about::-webkit-scrollbar{
    display: none;
}
.about__title{
    height: 20px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(240, 241, 243);
    background-color: rgb(118 141 119 / 33%);
}
.stdycrcle{
    margin-left: -28px;
}
.notif_content li {
    padding: 10px;
}
.notif_content li{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}
.oldimag1 {
    width: 100%;
    height: 361px;
    background-image: url('img/rise.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title1{
    width: 200px;
    left: 100px;
    font-family: 'Lora', serif;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
    background: whitesmoke;
    text-transform: uppercase;
    opacity: .8;
}

.title {
    width: 200px;
    font-family: 'Lora', serif;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
    background: whitesmoke;
    text-transform: uppercase;
    opacity: .8;
}
.link1 {
    margin-top: 10px;
    margin-left: 10px;
    background: rgb(0 0 0 / 39%);
    border-radius: 7px;
    text-decoration: none;
    padding: 5px;
    color: black;
    width: 200px;
    height: 50px;
    border: 3px solid white;

}
.link  {
    position: absolute;
    right: 10px;
    text-decoration: none;
    padding: 0px;
    background: rgb(0 0 0 / 39%);
    border-radius: 7px;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    border: 3px solid white;

}
.link a{
    text-decoration: none;
    
}
.link1:hover {
    background: black;
    color: white;
}
.link1 a {
    text-decoration: none;
    color: whitesmoke;

}

.link:hover {
    background: black;
    color: white;
}
.apply {
    text-decoration: none;
    align-items: center;
    position: absolute;
    top: 13px;
    left: 10px;
    font-weight: bold;
    font-size: medium;
    color: whitesmoke;
    text-transform: uppercase;
}
.apply1 {
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    color: whitesmoke;
    text-transform: uppercase;
}

.title span {
    font-weight: bold;
    font-size: medium;
    margin: 10px;
    color: black;
}

.title p {
    font-weight: normal;
    font-size: small;
    margin: 10px;
    color: black;
}

.oldimag2 {
    position: absolute;
    top: 148px;
    width: 49%;
    height: 361px;
    background-image: url('img/cucet-2022.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.oldimag3 {
    position: absolute;
    top: 148px;
    width: 49%;
    height: 361px;
    background-image: url('img/JMU.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.oldimag4 {
    position: absolute;
    top: 148px;
    width: 49%;
    height: 361px;
    background-image: url('img/cu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.oldimag5 {
    position: absolute;
    top: 148px;
    width: 49%;
    height: 361px;
    background-image: url('img/delhi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.oldimag6 {
    position: absolute;
    top: 148px;
    width: 49%;
    height: 361px;
    background-image: url('img/jnu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.oldimag7 {
    position: absolute;
    top: 148px;
    width: 49%;
    height: 361px;
    background-image: url('img/kerala.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.oldimag8{
    position: absolute;
    top: 148px;
    width: 49%;
    height: 361px;
    background-image: url('img/STUDY\ CIRCLE\ ing\ sachin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.oldimag1 {
    animation: slide1 25s linear infinite;
}

.oldimag2 {
    animation: slide2 25s linear infinite;
}

.oldimag3 {
    animation: slide3 25s linear infinite;
}

.oldimag4 {
    animation: slide4 25s linear infinite;
}
.oldimag5 {
    animation: slide5 25s linear infinite;
}
.oldimag6 {
    animation: slide6 25s linear infinite;
}
.oldimag7 {
    animation: slide7 25s linear infinite;
}
.oldimag8 {
    animation: slide8 25s linear infinite;
}


@keyframes slide1 {
    0% {
        visibility: visible;
    }

    10% {
        visibility: hidden;
    }

    20% {
        visibility: hidden;
    }

    30% {
        visibility: hidden;
    }

    40% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    60% {
        visibility: hidden;
    }
    70% {
        visibility: hidden;
    }
    80% {
        visibility: hidden;
    }
    90% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes slide2 {
    0% {
        visibility: hidden;
    }
    
    10% {
        visibility: hidden;
    }
    
    20% {
        visibility: visible;
    }
    
    30% {
        visibility: hidden;
    }
    
    40% {
        visibility: hidden;
    }
    
    50% {
        visibility: hidden;
    }
    
    60% {
        visibility: hidden;
    }
    
    70% {
        visibility: hidden;
    }
    
    80% {
        visibility: hidden;
    }
    
    90% {
        visibility: hidden;
    }
    
    100% {
        visibility: hidden;
    }
}


@keyframes slide3 {
    0% {
        visibility: hidden;
    }
    
    10% {
        visibility: hidden;
    }
    
    20% {
        visibility: hidden;
    }
    
    30% {
        visibility: visible;
    }
    
    40% {
        visibility: hidden;
    }
    
    50% {
        visibility: hidden;
    }
    
    60% {
        visibility: hidden;
    }
    
    70% {
        visibility: hidden;
    }
    
    80% {
        visibility: hidden;
    }
    
    90% {
        visibility: hidden;
    }
    
    100% {
        visibility: hidden;
    }
        
}

@keyframes slide4 {
    0% {
        visibility: hidden;
    }

    10% {
        visibility: hidden;
    }

    20% {
        visibility: hidden;
    }

    30% {
        visibility: hidden;
    }

    40% {
        visibility: visible;
    }

    50% {
        visibility: hidden;
    }

    60% {
        visibility: hidden;
    }

    70% {
        visibility: hidden;
    }

    80% {
        visibility: hidden;
    }

    90% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}
@keyframes slide5 {
    0% {
        visibility: hidden;
    }
    
    10% {
        visibility: hidden;
    }
    
    20% {
        visibility: hidden;
    }
    
    30% {
        visibility: hidden;
    }
    
    40% {
        visibility: hidden;
    }
    
    50% {
        visibility: visible;
    }
    
    60% {
        visibility: hidden;
    }
    
    70% {
        visibility: hidden;
    }
    
    80% {
        visibility: hidden;
    }
    
    90% {
        visibility: hidden;
    }
    
    100% {
        visibility: hidden;
    }
}
@keyframes slide6 {
    0% {
        visibility: hidden;
    }

    10% {
        visibility: hidden;
    }

    20% {
        visibility: hidden;
    }

    30% {
        visibility: hidden;
    }

    40% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    60% {
        visibility: visible;
    }

    70% {
        visibility: hidden;
    }

    80% {
        visibility: hidden;
    }

    90% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}
@keyframes slide7 {
    0% {
        visibility: hidden;
    }

    10% {
        visibility: hidden;
    }

    20% {
        visibility: hidden;
    }

    30% {
        visibility: hidden;
    }

    40% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    60% {
        visibility: hidden;
    }

    70% {
        visibility: visible;
    }

    80% {
        visibility: hidden;
    }

    90% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}
@keyframes slide8 {
    0% {
        visibility: hidden;
    }

    10% {
        visibility: hidden;
    }

    20% {
        visibility: hidden;
    }

    30% {
        visibility: hidden;
    }

    40% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    60% {
        visibility: hidden;
    }

    70% {
        visibility: hidden;
    }

    80% {
        visibility: visible;
    }

    90% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

.about__content{
    margin-left: 10px;
    font-style: italic;
    font-size: smaller;
}
@media (min-width: 808px) and (max-width:900px) {
    .about{
        width: 97%;
        height: 400px;
        margin-top: 410px;
        margin-bottom: 10px;
        padding: 10px;
        border: 2px solid #eae4e4;
    }
    .content-main
    {
        background-color: white;
        width: 99%;
        height: 400px;
        padding: 0px;
        border: 2px solid #eae4e4;
    }
    .oldimag2 ,.oldimag3  ,.oldimag6 ,.oldimag7,
    .oldimag8 {
        width: 72.5%;
        height: 366px;
        top: 146px;
    }
    .oldimag4,.oldimag5{
        width: 73%;
        height: 366px;
        top: 147px;
    }
}
@media (min-width: 500px) and (max-width:807px) {
    .notif_box {
        width: 97%;
        margin-top: 437px;
    }
    .content-main
    {
        width: 99%;
        position: absolute;
        margin-top: 0;
    }

    .about {
        width: 97%;
        height: 400px;
        margin-top: 834px;
        margin-bottom: 10px;
        padding: 10px;
        border: 2px solid #eae4e4;
    }

    .oldimag2,
    .oldimag3,
    .oldimag6,
    .oldimag7, 
    .oldimag8 {
            width: 100%;
            height: 361px;
            top: 40px;

    }
    .oldimag4, .oldimag5 {
            width: 100%;
            height: 366px;
            top: 40px;
    }
}
@media (min-width: 300px) and (max-width:499px) {
    .notif_box {
        width: 97%;
        margin-top: 437px;
    }
    .content-main
    {
        width: 98%;
        position: absolute;
        margin-top: 0;
    }

    .about {
        width: 97%;
        height: 400px;
        margin-top: 834px;
        margin-bottom: 10px;
        padding: 10px;
        border: 2px solid #eae4e4;
    }

    .oldimag2,
    .oldimag3,
    
    .oldimag6,
    .oldimag7,
    .oldimag8 {
        width: 100%;
        height: 361px;
        top: 40px;

    }
    .oldimag4 ,.oldimag5 {
        width: 100%;
        height: 360px;
        top: 42px;
    }
}
@media (min-width: 200px) and (max-width:299px) {
    .notif_box {
        width: 97%;
        margin-top: 437px;
    }
    .content-main
    {
        width: 98%;
        position: absolute;
        margin-top: 0;
    }

    .about {
        width: 97%;
        height: 400px;
        margin-top: 834px;
        margin-bottom: 10px;
        padding: 10px;
        border: 2px solid #eae4e4;
    }

    .oldimag2,
    .oldimag3,
    .oldimag6,
    .oldimag7,
    .oldimag8{
        width: 100%;
        height: 361px;
        top: 40px;

    }
    .oldimag4 ,.oldimag5 {
        width: 100%;
        height: 366px;
        top: 40px;
    }
}
@media (min-width: 0px) and (max-width:199px) {
  
    .notif_box {
        width: 97%;
        margin-top: 437px;
    }
    .content-main
    {
        width: 98%;
        position: absolute;
        margin-top: 0;
    }

    .about {
        width: 97%;
        height: 400px;
        margin-top: 834px;
        margin-bottom: 10px;
        padding: 10px;
        border: 2px solid #eae4e4;
    }

    .oldimag2,
    .oldimag3,
    .oldimag6,
    .oldimag7,
    .oldimag8 {
        width: 100%;
        height: 361px;
        top: 40px;

    }
    .oldimag4 ,.oldimag5 {
            width: 100%;
            height: 366px;
            top: 40px;
    }
}
