.heading{
    width: 100%;
    height: 10%;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f5f5f5;
}
.heading__title{
    width: 70px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(12 35 106);
}
.rise{
    padding: 10px;
}
.up {
    padding-left: 20px;
    font-size: 2.1rem;;
}
.small-heading{
    width: 100px;
    position: absolute;
    right: 10px;
    font-weight: small;
    font-style: italic;
    font-size: 10px;
}
.small-heading-left{
    width: 100px;
    position: absolute;
    left: 10px;
    font-weight: small;
    font-style: italic;
    font-size: 10px;
}
